.main-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 73px 20px 107px;
}

.main-header__navigation {
    display: flex;
}

.navigation__list {
    display: flex;
}

.navigation__list-item {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.navigation__link {
    color: #000000;
    font-size: 14px;
    line-height: 16px;
}

.navigation__link:hover {
    color: #5E5B5B;
}

.main-header__search {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.main-header__search-input {
    border: none;
    border-bottom: 1px solid #000000;
    width: 0;
    padding: 0;
    margin: 0;
    transition: width ease 0.5s;
}

input#search-toggle:checked + .main-header__search-input {
    width: 100px;
    margin-left: 5px;
}

.main-header__search-button {
    background-color: transparent;
    background-image: url('../../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;

    width: 20px;
    height: 20px;

    border: none;

    padding: 0;
    margin: 0;
}

.main-header__search-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}